Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-A database is an organized collection of structured data that is stored and managed in a computer system. It is designed to efficiently store, retrieve, and manage large amounts of data. Databases are widely used in various applications and industries to handle data in a structured and reliable manner.

SQL and NoSQL are two different types of database management systems (DBMS) that differ in their data models, query languages, and usage scenarios. Here's a comparison between SQL and NoSQL databases:

SQL Databases:

1-Structure: SQL databases, also known as relational databases, store data in tables with predefined schemas. The tables consist of rows and columns, and the relationships between tables are established using keys.
2-Query Language: SQL (Structured Query Language) is used to interact with SQL databases. It provides a standardized way to define, manipulate, and retrieve data using declarative queries.
3-Data Integrity: SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure data integrity and transactional consistency. They are suitable for applications that require strong consistency and complex transactions.
4--Scalability: SQL databases traditionally scale vertically, meaning they can handle increasing data loads by upgrading hardware (e.g., adding more powerful servers). Scaling horizontally across multiple servers can be complex and requires additional tools and configurations.
5-Schema Definition: SQL databases require a predefined schema that defines the structure of the data before it can be stored. Any changes to the schema usually involve altering the existing tables.
NoSQL Databases:

1-Structure: NoSQL databases, also known as non-relational databases, store data in flexible, schema-less formats such as key-value pairs, documents, column families, or graphs. They are designed to handle unstructured or semi-structured data.
2-Query Language: NoSQL databases use different query languages, such as MongoDB's BSON query language or Apache Cassandra's CQL (Cassandra Query Language). These query languages are often less standardized compared to SQL.
3-Data Integrity: NoSQL databases prioritize high availability and partition tolerance (AP) over strict data consistency (CAP theorem). They are suitable for distributed systems and scenarios where data consistency can be relaxed, such as real-time analytics, content management, or caching.
4-Scalability: NoSQL databases are designed for horizontal scalability, allowing them to scale across multiple servers or clusters effortlessly. They distribute data across nodes, making it easier to handle high traffic and massive data volumes.
5-Schema Definition: NoSQL databases are schema-flexible, meaning they can handle varying data structures without a predefined schema. This flexibility enables easier and faster development, as schema changes can be made on the fly.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database, including creating, altering, and deleting database objects such as tables, views, indexes, and constraints. DDL statements are used to define the schema or structure of the database.

Here's an explanation of some commonly used DDL statements with examples:

CREATE: The CREATE statement is used to create new database objects such as tables, views, indexes, or constraints.
Example: Let's say we want to create a table named "Employees" with columns for employee ID, name, and salary.

In [1]:
CREATE TABLE Employees (
    EmployeeID INT,
    Name VARCHAR(50),
    Salary DECIMAL(10,2)
);

SyntaxError: invalid syntax (2295108333.py, line 1)

DROP: The DROP statement is used to remove or delete existing database objects.
Example: Suppose we want to delete the "Employees" table from the database.

In [ ]:
DROP TABLE Employees;

ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows adding, modifying, or deleting columns from a table, altering constraints, or renaming objects.
Example: Let's say we want to add a new column "Department" to the "Employees" table.

In [ ]:
ALTER TABLE Employees
ADD Department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. It is faster than the DELETE statement as it does not generate individual rollback logs for each deleted row.
Example: Suppose we want to remove all data from the "Employees" table.

In [ ]:
TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are used to insert, update, and delete data from tables. Unlike DDL (Data Definition Language) which focuses on defining the database structure, DML focuses on manipulating the data stored in the database.

Here's an explanation of some commonly used DML statements with examples:

INSERT: The INSERT statement is used to insert new data into a table.
Example: Let's say we have a table named "Customers" with columns for customer ID, name, and email. We want to insert a new customer into the table.

INSERT INTO Customers (CustomerID, Name, Email)
VALUES (1, 'Sidd', 'Sidd@example.com');

UPDATE: The UPDATE statement is used to modify existing data in a table.
Example: Suppose we want to update the email address of a customer with the ID 1.
UPDATE Customers
SET Email = 'Sidd.singh@example.com'
WHERE CustomerID = 1;
DELETE: The DELETE statement is used to remove data from a table.
Example: Let's say we want to delete a customer with the ID 1 from the "Customers" table.

DELETE FROM Customers
WHERE CustomerID = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans-DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL statements, primarily the SELECT statement, are used to retrieve specific data from one or more tables based on specified criteria.

Here's an explanation of the SELECT statement with an example:

The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, apply conditions to filter the data, sort the results, and perform various other operations.

Example: Suppose we have a table named "Employees" with columns for employee ID, name, department, and salary. We want to retrieve the names and salaries of employees from the "IT" department.
SELECT Name, Salary
FROM Employees
WHERE Department = 'IT';

Q5. Explain Primary Key and Foreign Key.

Ans-Primary Key:
A primary key is a column or a combination of columns in a table that uniquely identifies each row in the table. It serves as a unique identifier for a particular record and ensures the integrity and uniqueness of data within the table. The primary key enforces entity integrity, meaning that it prevents duplicate or null values in the key column(s). Primary keys are essential for data integrity and are often used as references in other tables.
Foreign Key:
A foreign key is a column or a combination of columns in a table that establishes a link or a relationship between the data in two tables. It defines a constraint that ensures referential integrity between related tables. The foreign key in one table refers to the primary key of another table, creating a relationship between them.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Connect to the database
cnx = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = cnx.cursor()

# Execute a query
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetch and print the results
for row in cursor:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()


1-cursor(): The cursor() method creates a cursor object, which is used to execute SQL statements and fetch the query results. It acts as a handle for interacting with the database.

2-execute(): The execute() method is used to execute an SQL query or command. It takes the SQL statement as a parameter and performs the specified operation on the database. It can execute queries like SELECT, INSERT, UPDATE, DELETE, etc.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans-In an SQL query, the clauses are generally executed in the following order:

FROM: The FROM clause specifies the tables from which the data will be retrieved. It identifies the source tables for the query.

WHERE: The WHERE clause is used to apply conditions and filter the data based on specified criteria. It limits the result set to rows that satisfy the given conditions.

GROUP BY: The GROUP BY clause is used to group the result set based on one or more columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on grouped data.

HAVING: The HAVING clause is used to apply conditions on groups created by the GROUP BY clause. It filters the grouped data based on specified conditions.

SELECT: The SELECT clause is used to specify the columns that will be included in the result set. It retrieves the desired columns from the tables.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It can sort the data in ascending or descending order.

LIMIT/OFFSET: The LIMIT/OFFSET clause is used to limit the number of rows returned by the query. It specifies the maximum number of rows to be retrieved (LIMIT) and the number of rows to skip from the beginning of the result set (OFFSET).